/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 15px;
    line-height: 15px;
    overflow-x: hidden;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

.col1{
    max-width: 8.33%;
}
.col2{
    max-width: 16.67%;
}
.col3{
    max-width: 25%;
}
.col4{
    max-width: 33.33%;
}
.col5{
    max-width: 41.67%;
}
.col6{
    max-width: 50%;
}
.col7{
    max-width: 58.33%;
}
.col8{
    max-width: 66.67%;
}
.col9{
    max-width: 75%;
}
.col10{
    max-width: 83.33%;
}
.col11{
    max-width: 91.67%;
}
.col12{
    max-width: 100%;
}

.container{
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    border-bottom: 1px solid #CCCCCC;
}

.header_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 25px 0;


}
.header_block1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

.header_logo{
    margin-right: 22px;
}

.header_link{
    display: block;
    color: #000000;
    font-size: 1rem;
    margin-right: 22px;
    padding: 13px 1px;
    border: 1px solid transparent;
    border-radius: 5px;
}



.header_link:hover,.menu_link:hover{
    border: 1px solid #FF6336;
    background: #FF6336;
    color: #FFFFFF;
}

.header_block2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

.menu {
    display: none;
    position: relative;
    right: 0;
    top: 0;
    text-align: center;

}

.menu_link{
    display: block;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid black;

}

.menu_content{
    display: none;
    position: absolute;


}



.bg-orange{
    background: #FF6336;
}

.header_button1{
    display: block;
    color: #000000;
    font-size: 1rem;
    padding: 15px 36px 13px 37px;
    border: 1px solid #000000;
    margin-right: 10px;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.header_button1:hover{
    background: #FF6336;
    color: #FFFFFF;
    border: 1px solid #FF6336;
}



.header_button2{
    display: block;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 15px 22px 13px 25px;
    border: 1px solid transparent;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.header_button2:hover{
    background: #FFFFFF;
    color: #FF6336;
    border: 1px solid #FF6336;
}


.font400{
    font-family: 'Graphik LCG';
    font-weight: 400;
}

.font600{
    font-family: 'Graphik LCG';
    font-weight: 600;
}

.container_1{
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;

}



.slider_content{
    padding: 129px 0 172px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.slider_text{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-width: 43%;
}

.slider_header{
    font-size: 4.33rem;
    line-height: 4.67rem;
    margin-bottom: 51px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.slider_desc{
    font-size: 1.67rem;
    line-height: 2.33rem;
    margin-bottom: 49px;
}

.slider_buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.slider_button1{
    display: block;
    color: #FFFFFF;
    font-size: 1.07rem;
    padding: 21px 42px 22px;
    border: 1px solid transparent;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
    margin-right: 10px;
    margin-bottom: 24px;
}

.slider_button1:hover{
    background: #FFFFFF;
    color: #FF6336;
    border: 1px solid #FF6336;
}


.slider_button2{
    display: block;
    color: #000000;
    font-size: 1.07rem;
    padding: 21px 28px 22px;
    border: 1px solid #000000;
    margin-right: 10px;
    margin-bottom: 24px;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.slider_button2:hover{
    background: #FF6336;
    color: #FFFFFF;
    border: 1px solid #FF6336;
}

.slider_add{
    color:#000000;
    font-size: 1rem;
    line-height: 1.67rem;

}

.slider_image{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-top: 29px;
}

.slider_image>img{
    max-width: 100%;
    height: auto;
}

.brand_wall{
    background: #FF9C7D;
}

.brand_wall-content{

    padding: 108px 30px 101px;
}

.brand_wall-header{
    max-width: 650px;
    margin: 0 auto 70px;
    text-align: center;
    position: relative;
    left: 55px;

}

.h2{
    font-size: 3.33rem;
    line-height: 4rem;
}

.brand_wall-images{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.brand_wall-images > a{
    padding: 10px;
}

.main_adv_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.adv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 91px 0 154px;

}

.adv_card{
    margin: auto 0;
}


.adv_desc{
    font-size: 1.33rem;
    line-height: 2rem;
}

.adv_link{

    font-size: 1.33rem;
    line-height: 2rem;
    color: #000000;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.adv_link:hover{
    text-decoration: underline;
}

.tdn{
    text-decoration: none;
}

.mb30{
    margin-bottom: 30px;
}

.ml{
    margin-left: 17px;
}

.mt{
    margin-top: 27px;
}

.what_for{
    padding: 120px 0 100px;
    background: #FFF8E4;
}

.what_for_card-wrapper, .for_whom_card-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.what_for-card{
    text-align: center;
    margin-bottom: 50px;
    margin-right: 1px;
}

.what_for-header,.for_whom-header{
    font-size: 3.33rem;
    line-height: 4rem;
    text-align: center;
    color: #000000;
    margin-bottom: 79px;
}

.what_for_card-content>img{
    margin-bottom: 20px;
    display: initial;
}


.what_for-card-header{
    font-size: 1.67rem;
    line-height: 2.33rem;
    color: #000000;
    margin-bottom: 20px;
}

.what_for-card-desc{
    font-size: 1.2rem;
    line-height: 1.67rem;
    color: #000000;
}


.for_whom{
    padding: 154px 0 191px;
}

.for_whom_card-wrapper{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.for_whom-header{
    text-align: left;
}


.for_whom_card>img{
    margin-bottom: 49px;
}

.for_whom_card-header{
    font-size: 2rem;
    margin-bottom: 37px;
}

.for_whom_card-desc{
    font-size: 1.33rem;
    line-height: 2rem;
    margin-bottom: 32px;
    max-width: 94%;

}

.more_about{
    font-size: 1.33rem;
    color: #000000;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.more_about:hover{
    font-weight: 600;
}

.CEO{
    background: #C9E8F2;
}

.CEO_Content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 53px 0 102px;
}

.CEO_Content_text{
    padding-top: 9px;

}

.CEO_Content_desc{
    font-size: 2rem;
    line-height: 2.67rem;
    margin-bottom: 32px;
}

.CEO_name{
    font-size: 0.93rem;
    margin-bottom: 10px;
}

.Capterra{
    background: #DABC98;

}

.Capterra_content{
    padding: 88px 0 90px;
}

.Capterra_content,.Capterra_block1,.Capterra_block2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.Capterra_block1{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid black;
    max-width: 62.1%;
}

.Capterra_block1>img{
    margin-right: 70px;

}

.Capterra_card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.Capterra_desc{
    display: block;
    font-size: 2.33rem;
    line-height: 3.33rem;
}


.Capterra_block2{
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Capterra_card{

}

.Capterra_card>img{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.Cap_img1{
    margin-bottom: 19px;
}
.Cap_img2{
    margin-bottom: 19px;
}

.tools_content, .advert_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 165px 0 162px;
}

.tools_header{
    font-size: 4.33rem;
    line-height: 5rem;
    text-align: center;
}


.tools_desc{
    font-size: 1.67rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 25px;
}

.tools_img{
    margin-bottom: 30px;
}

.tools_button{
    text-decoration: none;
    font-size: 1.07rem;
    line-height: 4rem;
    padding: 0 22px 0 19px;
    color: #FFFFFF;
    border: 1px solid transparent;
}

.tools_button:hover{
    background: #FFFFFF;
    color: #FF6336;
    border: 1px solid #FF6336;
}

.advert{
    background: #FF9C7D;
}

.advert_content{
    padding: 119px 0 160px;

}
.advert_header{
    font-size: 4.33rem;
    line-height: 5rem;
    margin-bottom: 29px;
    text-align: center;
}

.advert_desc{
    font-size: 1.33rem;
    line-height: 2rem;
    margin-bottom: 52px;
    text-align: center;
}

.advert_button{
    font-size: 1.14rem;
    line-height: 4rem;
    padding: 0 40px;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid transparent;
}

.advert_button:hover{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.footer_block1{
    padding: 96px 0;
    border-bottom: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.Case_Studies{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1    ;
    -ms-flex-positive: 1    ;
    flex-grow: 1    ;
}

.CS_header{
    font-size: 2.67rem;
    line-height: 3.33rem;
    margin-bottom: 25px;
}

.CS_img1{
    display: block;
    margin-bottom: 28px;
}

.CS_img2{
    margin-bottom: 9px;
}

.CS_desc{
    margin-bottom: 14px;
}

.CS_desc, .CS_button{
    font-size: 1.33rem;
    line-height: 2rem;
}

.CS_button{
    text-decoration: none;
    color: #000000;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}

.CS_button:hover{
    text-decoration: underline;
}

.cat_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
}

.cat_card{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px;
}


.cat_header{
    font-size: 1.33rem;
    line-height: 1.67rem;
    margin-bottom: 21px;
}

.cat_list-item{
    margin-bottom: 15px;
    -webkit-transition: all ease-in-out 0.3ms;
    -o-transition: all ease-in-out 0.3ms;
    transition: all ease-in-out 0.3ms;
}
.cat_list-item:hover{
    text-decoration: underline;
}

.cat_list-item>a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;

}

.footer_block2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 52px 0 43px;
}

.footer_desc{
    font-size: 0.8rem;
    line-height: 1rem;
}

.footer_block2-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.footer_block2-left>img{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 14px;
}

.footer_block2-right{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.tdu{
    text-decoration: underline;

}

@media  screen and (max-width: 1024px){
    .menu{
        display: block;
    }

    .menu_content.active{
        right:0;
        display: block;
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }



    .header_link, .header_block2{
        display: none;
    }

}
@media  screen and (max-width: 768px) {
    html {
        font-size: 12px;
        line-height: 12px;
    }

    .brand_wall-header {
        position: initial;
    }

    .slider_text{
        max-width: initial;
    }

    .slider_image{
        display: none;
    }

    .slider_content{
        display: block;
        text-align: center;
        text-align: -webkit-center;
    }

    .slider_buttons{
        justify-content: center;
    }

    .for_whom-header{
        text-align: center;
    }

    .Capterra_block1 {
        border-right: none;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        max-width: initial;
        justify-content: center;
    }

    .Capterra_desc{
        max-width: 100%;
    }

    .Capterra_content{
        flex-direction: column;
        align-items: center;
    }

    .col-md-7 {
        max-width: 58.3%;
    }


    .col-lg-5 {
        max-width: 41.7%;
    }
}
@media  screen and (max-width: 425px){
    html{
        font-size: 10px;
        line-height: 10px;
    }
    .col-md-6 {
        max-width: 50%;
    }

    .col-xs-12{
        max-width: 100%
    }



    .slider_content{
        padding: 35px 0 40px;
    }

    .brand_wall-content {
        padding: 50px 30px 50px;
    }

    .adv{
        margin: 20px 0;
    }

    .what_for{
        padding: 50px 30px 50px;
    }
    .what_for-header{
        margin-bottom: 25px;
    }
    .what_for_card-content>img {
        margin-bottom: 10px;
    }

    .for_whom {
        padding: 30px 0 50px;
    }


    .for_whom-header{
        text-align: center;
        margin-bottom: 20px;
    }

    .for_whom_card{
        text-align: center;
        margin-bottom: 10px;
    }
    .for_whom_card>img{
        display: initial;
        margin-bottom: 15px;
    }

    .CEO_Content{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .CEO_Content_text>img{
        display: initial;
    }

    .Capterra_block1{
        flex-direction: column;
    }
    .Capterra_content{
        padding: 50px 0 50px;
    }

    .Capterra_block2{
        flex-direction: column;
        align-items: center;
    }


    .Capterra_block2{
        flex-direction: column;
    }

    .Capterra_block1>img {
        margin-right: 0;
    }

    .Capterra_desc{
        text-align: center;
    }

    .Capterra_block2{
        flex-direction: column;
    }

    .Capterra_card{
        margin-bottom: 10px;
    }
    .tools_content{
        padding: 50px 0 50px;
    }

    .advert_content {
        padding: 50px 0 50px;
    }
    .footer_block1 {
        padding: 50px 0;
    }
    .cat_header {
        font-size: 2rem;
    }
    .cat_list-item>a {
        font-size: 1.4rem;
    }

    .footer_block2{
        padding: 30px 0 30px;
    }

    .cat_card{
        text-align: center;
    }




    .footer_block1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .cat_block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-content: center;
    }

    .Case_Studies{
        text-align: center;
        text-align: -webkit-center;

    }

    .slider_buttons{
        display: block;
    }


}

@media  screen and (max-width: 375px){
    html{
        font-size: 8px;
        line-height: 8px;
    }
    .slider_content{
        padding: 35px 0 40px;
    }
    .brand_wall-content{
        padding: 50px 30px 50px;
    }
    .brand_wall-images{
        flex-direction: column;
        justify-content: center;
    }
    .adv{
        margin: 20px 0;
    }
    .h2{
        font-size: 2.5rem;
    }
    .what_for{
        padding: 50px 30px 50px;
    }
    .what_for-header{
        margin-bottom: 25px;
    }
    .what_for_card-content>img {
        margin-bottom: 10px;
    }

    .col-md-6 {
        max-width: 50%;
    }

    .for_whom {
        padding: 30px 0 50px;
    }
    .col-xs-12{
        max-width: 100%
    }

    .for_whom-header{
        text-align: center;
        margin-bottom: 20px;
    }

    .for_whom_card{
        text-align: center;
        margin-bottom: 10px;
    }
    .for_whom_card>img{
        display: initial;
        margin-bottom: 15px;
    }

    .CEO_Content{
        flex-direction: column-reverse;
        text-align: center;
    }


    .Capterra_content{
        justify-content: center;
        padding: 50px 0 50px;
    }

    .Capterra_block2{
        flex-direction: column;
    }

    .Capterra_card{
        margin-bottom: 10px;
    }

    .tools_content{
        padding: 50px 0 50px;
    }

    .advert_content {
        padding: 50px 0 50px;
    }
    .footer_block1 {
        padding: 50px 0;
    }
    .cat_header {
        font-size: 2rem;
    }
    .cat_list-item>a {
        font-size: 1.4rem;
    }

    .footer_block2{
        padding: 30px 0 30px;
    }

    .footer_block2-left>p{
        display: none;
    }
    .col-sm-3{
        max-width: 25%;
    }






}















