.bg-main {
  background: #323264;
}

.bg-main-alt {
  background: #46466E;
}

.bg-main-soft {
  background: #686887;
}

.accent {
  background: #F0145A;
}

.bg-grey {
  background: #F5F5FA;
}

.bg-grey-alt {
  background: #EDEDF7;
}

.bg-white {
  background: #FFFFFF;
}

.bg-grad-main {
  background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
}

.bg-grad-soft {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.bg-grad-red {
  background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
}

.bg-grad-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.bg-grad-red-text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.bg_logo_1 {
  background: #1C4280;
}

.bg_logo_2 {
  background: #143646;
}

.bg_logo_3 {
  background: #F48B30;
}

.bg_logo_4 {
  background: #9E4DC3;
}

.bg_logo_5 {
  background: #FD9339;
}

.bg_logo_6 {
  background: #E2E2E4;
}

.bg_logo_7 {
  background: #C71C36;
}

.bg_logo_8 {
  background: #DCF3F9;
}

.bg_logo_9 {
  background: #EAEAEA;
}

.bg_logo_10 {
  background: #282240;
}

.bg_logo_11 {
  background: #1D4568;
}

.bg_logo_12 {
  background: #000000;
}

.bg_news_1 {
  background-image: url("../img/News_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg_news_2 {
  background-image: url("../img/News_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg_news_3 {
  background-image: url("../img/News_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}