.brand_wall-header {
  text-align: center;
}
.brand_wall-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand_wall-item {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}
.brand_wall-item > img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}