.h1 {
  font-size: 2.38rem;
  line-height: 3.29rem;
}

.h2 {
  font-size: 1.88rem;
  line-height: 2.64rem;
}

.h3 {
  font-size: 1.57rem;
  line-height: 1.93rem;
}

.h3_cap {
  font-size: 1rem;
  line-height: 1.21rem;
  text-transform: capitalize;
}

.h4 {
  font-size: 1rem;
  line-height: 1.43rem;
}

.p {
  font-size: 1rem;
  line-height: 1.63rem;
}

.f400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.f700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.tdn {
  text-decoration: none;
}

.white {
  color: #FFFFFF;
}

.gray {
  background: #B3B3BA;
  -webkit-background-clip: text;
  color: transparent;
}