.h1 {
  font-size: 2.38rem;
  line-height: 3.29rem;
}

.h2 {
  font-size: 1.88rem;
  line-height: 2.64rem;
}

.h3 {
  font-size: 1.57rem;
  line-height: 1.93rem;
}

.h3_cap {
  font-size: 1rem;
  line-height: 1.14rem;
  text-transform: uppercase;
}

.h4 {
  font-size: 1rem;
  line-height: 1.43rem;
}

.p {
  font-size: 1rem;
  line-height: 1.63rem;
}

.card_p {
  font-size: 1.375rem;
  line-height: 1.69rem;
}

.news_p {
  font-size: 0.75rem;
}

.f400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.f700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.tdn {
  text-decoration: none;
}

.white {
  color: #FFFFFF;
}

.gray {
  background: #B3B3BA;
  -webkit-background-clip: text;
  color: transparent;
}

.regular {
  background: #24A3FF;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  background: #323264;
  -webkit-background-clip: text;
  color: transparent;
}

.separator {
  border-bottom: 4px solid #E6E6F0;
}

.red_text {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.red_text_reversed {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.services_header > a {
  font-size: 0.876rem;
  letter-spacing: 1px;
}