.main-container {
  padding: 42px 0 64px;
}
@media screen and (max-width: 768px) {
  .main-container {
    padding: 19px 0 64px;
  }
}

.header {
  background-image: url("../img/H.svg");
  background-repeat: no-repeat;
  background-position: top;
}
@media screen and (min-width: 1441px) {
  .header {
    background-size: contain;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-size: cover;
  }
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 254px;
}
@media screen and (min-width: 1441px) {
  .header_content {
    padding-bottom: 355px;
  }
}
@media screen and (max-width: 1440px) {
  .header_content {
    padding-bottom: 261px;
  }
}
@media screen and (max-width: 1024px) {
  .header_content {
    padding-bottom: 240px;
  }
}
@media screen and (max-width: 768px) {
  .header_content {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 263px;
    row-gap: 23px;
  }
}
@media screen and (max-width: 580px) {
  .header_content {
    padding-bottom: 213px;
  }
}
@media screen and (max-width: 580px) {
  .header_content-left {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .header_content-right {
    display: none;
  }
}

.dot {
  display: block;
  border: 3px solid white;
  border-radius: 100%;
  margin: 6px;
}

.row, .header_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .row, .header_list {
    justify-content: flex-start;
  }
}

.row {
  padding: 7px 0;
}

.header_list-item {
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out;
}
.header_list-item > a:hover {
  color: #F0145A;
  border-bottom: 1px solid #F0145A;
}

.fb_logo:hover {
  color: #F0145A;
}

.header_list-item:last-of-type {
  margin-right: 0;
}

.lang-button {
  font-size: 0.69rem;
  line-height: 1.07rem;
  padding: 5px 7px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.lang-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.lang-button:last-of-type {
  background: #F0145A;
}

.main_header {
  text-align: center;
  padding-bottom: 432px;
}
@media screen and (min-width: 1441px) {
  .main_header {
    padding-bottom: 535px;
  }
}
@media screen and (max-width: 1440px) {
  .main_header {
    padding-bottom: 437px;
  }
}
@media screen and (max-width: 1024px) {
  .main_header {
    padding-bottom: 415px;
  }
}
@media screen and (max-width: 768px) {
  .main_header {
    padding-bottom: 483px;
  }
}
@media screen and (max-width: 580px) {
  .main_header {
    padding-bottom: 230px;
  }
}
.main_header > h1 {
  line-height: 2.875rem;
}
.button {
  position: absolute;
  left: 48.5%;
  top: 51%;
}
@media screen and (min-width: 1441px) {
  .button {
    left: 49.2%;
    top: 65%;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    left: 48%;
    top: 48.65%;
  }
}
@media screen and (max-width: 768px) {
  .button {
    left: 48.8%;
    top: 64.5%;
  }
}
@media screen and (max-width: 580px) {
  .button {
    left: 46%;
    top: 37%;
  }
}

.arrow {
  position: relative;
  width: 42px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  top: 10px;
  left: 12px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(315deg);
}
.arrow:hover {
  border: 2px solid #F0145A;
}
.arrow:hover:after {
  border-left: 2px solid #F0145A;
  border-bottom: 2px solid #F0145A;
}

.tab_menu {
  display: flex;
  margin-bottom: 58px;
}
@media screen and (max-width: 1024px) {
  .tab_menu {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 768px) {
  .tab_menu {
    flex-direction: column;
    padding-top: 47px;
  }
}
@media screen and (max-width: 580px) {
  .tab_menu {
    padding-top: 0;
    margin-bottom: 23px;
  }
}
.tab_menu * {
  flex-grow: 1;
  flex-shrink: 0;
}
.tab_menu-list {
  text-align: end;
  padding-right: 56px;
  padding-top: 11px;
}
@media screen and (max-width: 580px) {
  .tab_menu-list {
    padding-right: 0;
    padding-top: 23px;
  }
}
@media screen and (max-width: 768px) {
  .tab_menu-list > ul {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 768px) and (max-width: 580px) {
  .tab_menu-list > ul {
    padding-bottom: 11px;
  }
}
.tab_menu-item {
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .tab_menu-item {
    margin-right: 27px;
  }
}
@media screen and (max-width: 580px) {
  .tab_menu-item {
    margin-bottom: 0;
  }
}
.tab_menu-item:last-of-type {
  margin-bottom: 10px;
}
.tab_menu-item-link:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}
.tab_menu-desc {
  padding-left: 67px;
  padding-top: 41px;
  border-left: 4px solid #B3B3BA;
}
@media screen and (max-width: 1024px) {
  .tab_menu-desc {
    padding-left: 60px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .tab_menu-desc {
    border-left: none;
    border-top: 4px solid #B3B3BA;
    padding-left: 0;
    padding-top: 60px;
  }
}
@media screen and (max-width: 580px) {
  .tab_menu-desc {
    padding-top: 30px;
    padding-left: 6px;
  }
}
.tab_menu-desc-header {
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .tab_menu-desc-header {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 580px) {
  .tab_menu-desc-header {
    margin-bottom: 32px;
  }
}
.tab_menu-desc-p {
  font-size: 1.18rem;
  line-height: 1.87;
}
@media screen and (max-width: 1024px) {
  .tab_menu-desc-p {
    display: inline;
  }
}
@media screen and (max-width: 580px) {
  .tab_menu-desc-p {
    line-height: 1.875rem;
  }
}

.dn {
  display: none;
}
@media screen and (max-width: 768px) {
  .dn {
    display: flex;
    margin-bottom: 18px;
  }
}

.visible {
  display: flex;
}
@media screen and (max-width: 768px) {
  .visible {
    display: none;
  }
}

#menu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 580px) {
  #menu-wrapper {
    display: block;
  }
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 45px;
  background: rgba(245, 245, 250, 0.2);
}

#menu-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
  padding: 0 17px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 580px) {
  #menu-tab {
    font-size: 20px;
  }
}

#menu-nav {
  display: none;
  padding: 5px 10px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  color: #FFFFFF;
}

#menu-nav ul {
  list-style: none;
  margin: 20px 0 30px;
  padding: 0;
}

#menu-nav ul li {
  padding: 13px;
  border-bottom: 1px solid #E03C41;
  cursor: pointer;
  text-align: center;
}

#menu-nav ul li:first-child {
  border-top: 1px solid #E03C41;
}

#menu-nav ul li:hover {
  background-color: #EB3E44;
}