*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.bg-main {
  background: #323264;
}

.bg-main-alt {
  background: #46466E;
}

.bg-main-soft {
  background: #686887;
}

.accent {
  background: #F0145A;
}

.bg-grey {
  background: #F5F5FA;
}

.bg-grey-alt {
  background: #EDEDF7;
}

.bg-white {
  background: #FFFFFF;
}

.bg-grad-main {
  background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
}

.bg-grad-soft {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.bg-grad-red {
  background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
}

.bg-grad-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.bg-grad-red-text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.bg_logo_1 {
  background: #1C4280;
}

.bg_logo_2 {
  background: #143646;
}

.bg_logo_3 {
  background: #F48B30;
}

.bg_logo_4 {
  background: #9E4DC3;
}

.bg_logo_5 {
  background: #FD9339;
}

.bg_logo_6 {
  background: #E2E2E4;
}

.bg_logo_7 {
  background: #C71C36;
}

.bg_logo_8 {
  background: #DCF3F9;
}

.bg_logo_9 {
  background: #EAEAEA;
}

.bg_logo_10 {
  background: #282240;
}

.bg_logo_11 {
  background: #1D4568;
}

.bg_logo_12 {
  background: #000000;
}

.h1 {
  font-size: 2.38rem;
  line-height: 3.29rem;
}

.h2 {
  font-size: 1.88rem;
  line-height: 2.64rem;
}

.h3 {
  font-size: 1.57rem;
  line-height: 1.93rem;
}

.h3_cap {
  font-size: 1rem;
  line-height: 1.14rem;
  text-transform: uppercase;
}

.h4 {
  font-size: 1rem;
  line-height: 1.43rem;
}

.p {
  font-size: 1rem;
  line-height: 1.63rem;
}

.card_p {
  font-size: 1.375rem;
  line-height: 1.69rem;
}

.news_p {
  font-size: 0.75rem;
}

.f400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.f700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.tdn {
  text-decoration: none;
}

.white {
  color: #FFFFFF;
}

.gray {
  background: #B3B3BA;
  -webkit-background-clip: text;
  color: transparent;
}

.regular {
  background: #24A3FF;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  background: #323264;
  -webkit-background-clip: text;
  color: transparent;
}

.separator {
  border-bottom: 4px solid #E6E6F0;
}

.red_text {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.red_text_reversed {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.services_header > a {
  font-size: 0.876rem;
  letter-spacing: 1px;
}

.main-container {
  padding: 42px 0 64px;
  background-image: url("../img/H.svg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 254px;
}

.dot {
  display: block;
  border: 3px solid white;
  border-radius: 100%;
  margin: 6px;
}

.row, .header_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.row {
  padding: 7px 0;
}

.header_list-item {
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out;
}
.header_list-item > a:hover {
  color: #F0145A;
  border-bottom: 1px solid #F0145A;
}

.fb_logo:hover {
  color: #F0145A;
}

.header_list-item:last-of-type {
  margin-right: 0;
}

.lang-button {
  font-size: 0.69rem;
  line-height: 1.07rem;
  padding: 5px 7px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.lang-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main_header {
  text-align: center;
  margin-bottom: 432px;
}

.button {
  position: absolute;
  left: 48.5%;
  top: 34.3%;
}

.arrow {
  position: relative;
  width: 42px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  top: 10px;
  left: 12px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(315deg);
}
.arrow:hover {
  border: 2px solid #F0145A;
}
.arrow:hover:after {
  border-left: 2px solid #F0145A;
  border-bottom: 2px solid #F0145A;
}

.tab_menu {
  display: flex;
  margin-bottom: 58px;
}
.tab_menu * {
  flex-grow: 1;
  flex-shrink: 0;
}
.tab_menu-list {
  text-align: end;
  padding-right: 56px;
  padding-top: 11px;
}
.tab_menu-item {
  margin-bottom: 24px;
}
.tab_menu-item:last-of-type {
  margin-bottom: 10px;
}
.tab_menu-item-link:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}
.tab_menu-desc {
  padding-left: 67px;
  padding-top: 41px;
  border-left: 4px solid #B3B3BA;
}
.tab_menu-desc-header {
  margin-bottom: 28px;
}
.tab_menu-desc-p {
  font-size: 1.18rem;
  line-height: 1.87rem;
}

.col-xl-1 {
  max-width: 8.33%;
}

.col-xl-2 {
  max-width: 16.67%;
}

.col-xl-3 {
  max-width: 25%;
}

.col-xl-4 {
  max-width: 33%;
}

.col-ns-4 {
  max-width: 30.2%;
}

.col-nw-4 {
  max-width: 31.81%;
}

.col-xl-5 {
  max-width: 41.67%;
}

.col-xl-6 {
  max-width: 50%;
}

.col-xl-7 {
  max-width: 58.33%;
}

.col-xl-8 {
  max-width: 66.67%;
}

.col-ns-8 {
  max-width: 69.8%;
}

.col-xl-9 {
  max-width: 75%;
}

.col-xl-10 {
  max-width: 83.33%;
}

.col-xl-11 {
  max-width: 91.67%;
}

.col-xl-12 {
  max-width: 100%;
}

.mb-80 {
  margin-bottom: 76px;
}

.mb-60 {
  margin-bottom: 57px;
}

.mb-30 {
  margin-bottom: 29px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.services_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
}

.services_card {
  flex-grow: 1;
  flex-shrink: 1;
}

.services_header > a:hover, .team_box-desc > a:hover {
  color: #F0145A;
}

.team_box {
  max-height: 344px;
  overflow-y: hidden;
  display: flex;
  border-radius: 12px;
}
.team_box-photo {
  max-width: 100%;
  overflow-y: hidden;
  align-self: center;
}
.team_box-desc {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 30px 44px 25px 32px;
  display: flex;
  flex-direction: column;
}
.team_box a {
  letter-spacing: 1px;
  margin-bottom: 5px;
  line-height: 1rem;
}
.team_box h1 {
  line-height: 2.875rem;
}

.swiper-pagination {
  position: initial !important;
  margin-top: 30px;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px)) !important;
  background: var(--swiper-pagination-bullet-inactive-color, #24A3FF) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
}

.brand_wall-header {
  text-align: center;
}
.brand_wall-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand_wall-item {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  border: 5px solid transparent;
}
.brand_wall-item:hover {
  border: 5px solid white;
}
.brand_wall-item > img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.publications {
  padding-top: 30px;
}

.news_cards {
  display: flex;
  justify-content: space-between;
}

.card_desc {
  padding: 30px;
}
.card_desc > h4 {
  line-height: 1.25rem;
  max-height: 3.75rem;
  overflow: hidden;
}
.card_desc > p:last-of-type {
  font-size: 0.875rem;
  line-height: 1.375rem;
  max-height: 6.875rem;
  overflow: hidden;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 30px;
}
.footer_content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_content-row > div.dot {
  border-color: #B3B3BA;
  margin: 10px;
}

body {
  font-size: 16px;
  line-height: 16px;
}

.wrapper {
  border-radius: 0 0 12px 12px;
  -webkit-box-shadow: 0 20px 0 -10px #CACADB, 0px 40px 0 -20px #E7E7F2;
  box-shadow: 0 20px 0 -10px #CACADB, 0px 40px 0 -20px #E7E7F2;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}