.team_box {
  max-height: 344px;
  overflow-y: hidden;
  display: flex;
  border-radius: 12px;
}
@media screen and (min-width: 1440px) {
  .team_box {
    max-height: 298px;
  }
}
@media screen and (max-width: 1024px) {
  .team_box {
    max-height: 528px;
  }
}
@media screen and (max-width: 768px) {
  .team_box {
    flex-direction: column;
    max-height: 936px;
  }
}
.team_box-photo {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .team_box-photo > img {
    max-width: initial;
  }
}
.team_box-desc {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 30px 44px 25px 32px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .team_box-desc {
    padding-right: 13px;
  }
}
.team_box a {
  letter-spacing: 1px;
  margin-bottom: 5px;
  line-height: 1rem;
}
.team_box h1 {
  line-height: 2.875rem;
}

.swiper-pagination {
  position: initial !important;
  margin-top: 30px;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px)) !important;
  background: var(--swiper-pagination-bullet-inactive-color, #24A3FF) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
}