.team_box {
  display: flex;
  border-radius: 12px;
}
.team_box-desc {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 30px 44px 25px 35px;
  display: flex;
  flex-direction: column;
}
.team_box a {
  letter-spacing: 1px;
  margin-bottom: 5px;
  line-height: 1rem;
}
.team_box h1 {
  font-size: 2.475rem;
  line-height: 2.875rem;
}