.footer_content
  display: flex
  justify-content: space-between
  padding: 25px 0 30px
  &-row
    display: flex
    flex-direction: row
    align-items: center
    & >div.dot
      border-color: #B3B3BA
      margin: 10px

