.footer_content
  display: flex
  justify-content: space-between
  padding: 25px 0 30px
  flex-wrap: wrap
  @media  screen and (max-width: 768px)
    padding-bottom: 0
  &-row
    display: flex
    flex-direction: row
    align-items: center

    & >div.dot
      border-color: #B3B3BA
      margin: 10px

.dn
  display: none
  @media  screen and (max-width: 768px)
    display: flex
    margin-bottom: 18px
.visible
  display: flex
  @media  screen and (max-width: 768px)
    display: none