@import "reset"
@import "background"
@import "fonts"
@import "header"
@import "layout"
@import "services"
@import "Team Slider"
@import "brand_wall"
@import "publications"
@import "footer"
@import "media"


body
  font-size: 16px
  line-height: 16px

.wrapper
  border-radius: 0 0 12px 12px
  -webkit-box-shadow: 0 20px 0 -10px #CACADB, 0px 40px 0 -20px #E7E7F2
  box-shadow: 0 20px 0 -10px #CACADB, 0px 40px 0 -20px #E7E7F2
  @media  screen and (max-width: 580px)
    margin-bottom: 50px



.container
  max-width: 1350px
  margin: 0 auto
  padding: 0 15px
  @media  screen and (min-width: 1440px)
    max-width: 1630px
  @media  screen and (max-width: 1440px)
    max-width: 1350px
  @media  screen and (max-width: 1024px)
    max-width: 934px
  @media  screen and (max-width: 768px)
    max-width: 648px
  @media  screen and (max-width: 580px)
    max-width: 460px
  @media  screen and (max-width: 425px)
    max-width: 345px


.container_xxl
  margin: 0 auto
  @media  screen and (min-width: 1440px)
    max-width: 1720px
    padding-bottom: 60px

img
  display: block
  max-width: 100%
  height: auto