.services_wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  row-gap: 60px



.services_card
  flex-grow: 1
  flex-shrink: 1
.services_header>a:hover, .team_box-desc>a:hover
  color: #F0145A

