.team
  @media  screen and (max-width: 580px)
    margin-bottom: 58px

.team_box
  max-height: 344px
  overflow-y: hidden
  display: flex
  border-radius: 12px
  @media  screen and (min-width: 1440px)
    max-height: 298px
  @media  screen and (max-width: 1024px)
    max-height: 528px
  @media  screen and (max-width: 768px)
    flex-direction: column
    max-height: 936px
  @media  screen and (max-width: 580px)
    max-height: 1087px

  &-photo
    display: flex
    justify-content: center
    overflow-y: hidden
    align-self: center
    & >img
      @media  screen and (max-width: 1024px)
        max-width: initial

  &-desc
    flex-shrink: 1
    flex-grow: 0
    padding: 30px 44px 25px 32px
    display: flex
    flex-direction: column
    @media  screen and (max-width: 768px)
      padding-right: 13px
    @media  screen and (max-width: 580px)
      word-wrap: anywhere
      line-height: 1.875rem
  & a
    letter-spacing: 1px
    margin-bottom: 5px
    line-height: 1rem
  & h1
    line-height: 2.875rem
.swiper-pagination
  position: initial!important
  margin-top: 30px
  @media  screen and (max-width: 580px)
    margin-top: 24px
  &-bullet
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,16px))!important
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,16px))!important
    background: var(--swiper-pagination-bullet-inactive-color,#24A3FF)!important

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px)!important



