/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ul, li, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ul,ol{
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    overflow-x: hidden;
    font-size: 15px;
    line-height: 15px;
    font-family: Arial, 'sans-serif';
}


header{
    background-color: #2d363b;
}

.container{
    max-width: 980px;
    margin: auto;
}

.header_content{
    padding: 20px 8px 14px;
    color: #a5adb8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_logo-name{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.05));
    filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.05));
    margin-bottom: 10px;
}

.flet:first-letter{
    color: #ae4b5d;
}

.header_logo-name+p{
    font-size: 0.8rem;
    color: #656f7a;
    font-weight: bold;
}

.search_field{
    padding: 10px 22px 9px 9px;
    font-size: 0.93rem;
    color: #5b636e;
    border-radius: 5px;
    background-color: #24272d;
    border: 1px solid #ae4b5d;

}
.search_field+a{
    border: 1px solid #ae4b5d;
    padding: 12px 9px 7px 9px;
    background: #ae4b5d;
    border-radius: 5px;
}

.search_field+a>span{
    font-size: 1.07rem;
    color: white;
}

div.search >a{
    position: relative;
    top: 2px;
}

.slider_content{
    padding-top: 41px;
    padding-bottom: 37px;
    padding-left: 37px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: repeat;
}



.slider_header{
    color: #a5adb8;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider_desc_1{
    font-size: 1.2rem;
    color: #282d33;
    font-weight: bold;
    margin-bottom: 18px;
}

.slider_desc_2{
    font-size: 1.2rem;
    color: #a5adb8;
    font-weight: bold;
    margin-bottom: 6px;
}

.slider_desc_3{
    font-size: 0.93rem;
    line-height: 1.2rem;
    color: white;
    max-width: 51%;
}

.nav_content{
    background: #95161f;
    padding-top: 8px;
    padding-right: 23px;
    padding-bottom: 9px;
}

.nav_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

}

.nav_list-item{
    max-height: 100%;
    margin-right: 50px;
    border: 2px solid transparent;
    border-radius: 20%;
}

.nav_list-item:last-of-type{
    margin-right: 0;
}

.menu{
    display: none;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 10s ease-in-out;
    -o-transition: all 10s ease-in-out;
    transition: all 10s ease-in-out;
}

.menu_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 70px;
    padding: 15px;
    background: #95161f
}

.menu_list-item >a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding: 10px;
}

.menu_content{
    display: none;
    position: absolute;

    top: 0;
    right:0;
    z-index: 1;
    width: 0;
}

.menu_list-item>a:last-of-type{
    display: inline-block;
}




i.fa-bars{
    color: black;
    font-size: 2rem;
    z-index: 2;
}

li.nav_list-item > a{
    text-decoration: none;
    font-size: 1.07rem;
    font-weight: bold;
    color: #ffffff;


}

.nav_list-item:hover{
    border: 2px solid #70070d;
    background: #70070d;
}

.breadcrumbs_content{
    background: #f3f3f3;
    padding-left: 24px;
}



.bc{
    font-size: 0.73rem;
    line-height: 1.73rem;
    color: #95161f;
    text-decoration: none;

}

.bc:last-of-type{
    pointer-events: none;
    color: #6b6f74;
    text-decoration: none;
}



.bc:not(:last-of-type):after {
    content: "/";
    color: #6b6f74;

}

.form_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.col1{
    max-width: 8.33%;
}
.col2{
    max-width: 16.67%;
}
.col3{
    max-width: 22%;
}
.col4{
    max-width: 33.33%;
}
.col5{
    max-width: 41.67%;
}
.col6{
    max-width: 50%;
}
.col7{
    max-width: 58.33%;
}
.col8{
    max-width: 66.67%;
}
.col9{
    max-width: 75%;
}
.col10{
    max-width: 83.33%;
}
.col11{
    max-width: 91.67%;
}
.col12 {
    max-width: 100%;
}

.main_content{
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 15px;
}

.aside{
    padding-top: 19px;
}

.sidebar{
    background: #f3f3f3;
    padding: 17px 15px 7px 11px;
    border: 1px solid #d7dade;

}

.form_content-header{
    font-size: 1.2rem;
    color: #282d33;
    font-weight: bold;
    margin-bottom: 15px;
}

.form_content>input, .form_content>select{

    margin-bottom: 16px;
    padding: 8px 9px 8px 8px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;

}

.form_content>input{
    border-radius: 3px;
    border: 1px solid #fffcfc;
    background-color: #e3e4e5;
    color: #757575;
}

.form_content>select{
    border-radius: 3px;
    background-color: #e3e4e5;
    border: 1px solid #a2a2a2;
}

.button{
    font-size: 1.07rem;
    line-height: 1.2rem;
    color: #ffffff;
    -webkit-filter: drop-shadow(0px 5px 2.5px rgba(0,0,0,0.19));
    filter: drop-shadow(0px 5px 2.5px rgba(0,0,0,0.19));
    background-image: -o-linear-gradient(bottom, #95151f 0%, #b0242e 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#95151f), to(#b0242e));
    background-image: linear-gradient(0deg, #95151f 0%, #b0242e 100%);
    border: 5px solid #ffffff;
    padding: 11px 18px 12px 18px;
    margin-bottom: 3px;
}

.button:hover{
    border: 5px solid #95151f;
}

.more_about{
    padding-top: 25px;
}

.more_about > h3{
    font-size: 1.2rem;
    color: #282d33;
    font-weight: bold;
    margin-bottom: 6px;
}

.more_about > p{
    letter-spacing: normal;
    font-weight: 300;
    font-size: 0.87rem;
    line-height: 1.25rem;
    color: #5c646e;
    margin-bottom: 9px;
}

.more_about >a >span{
    font-size: 0.8rem;
    text-decoration: underline;
    color: #95161f;
}

.magazine{
    padding-top: 19px;
}

.magazine_header{
    font-size: 1.6rem;
    color: #a5adb8;
    font-weight: bold;
    margin-bottom: 11px;
}

.aside{
    margin-right: 23px;
}

.magazine_desc{
    font-size: 0.93rem;
    line-height: 1.25rem;
    color: #5c646e;
    margin-bottom: 14px;
}

.magazine_link>a{
    color: #95161f;
}

.card_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 11px;
}

.card{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 15px;
}

.card_header{
    font-size: 1.2rem;
    color: #282d33;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_image{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.list_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 34px;
}

.list{
    max-width: 33%;
    margin-right: 33px;
}

.list_header{
    font-size: 0.93rem;
    color: #5c646e;
}

.list_content{
    font-size: 0.93rem;
    color: #5c646e;
    line-height: 1.47rem;
}

.lists_header {
    font-size: 1.6rem;
    color: #a5adb8;
    font-weight: bold;
    margin-bottom: 16px;
}


ul.styled, li > ul{
    list-style: initial;
    list-style-type: disc;
    margin-left: 10px;
}

ol.styled{
    list-style: decimal;
    margin-left: 10px;
}

.bg-gray{
    border-radius: 3px;
    background-color: #dedede;
}

.table{
    width: 97%;
    border-collapse: inherit;
    text-align: center;
    margin-bottom: 59px;
    border: 1px solid white;
    border-radius: 4px;
}

td, th {
    border:solid 1px white;
    padding: 4px 5px;
}

th{

    background-color: #9c4757;
    font-size: 0.8rem;
    color: #fefeff;
    font-weight: bold;
}

tr{
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: #a5adb8;
    background-color: #272d33;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

td>a{
    color: #d08b98;
}

th:first-of-type{

    border-top-left-radius: 4px;
}
th:last-of-type{
    border-top-right-radius: 4px;
}

tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 4px;
}
tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 4px;
}

.footer{
    background: #2b2f33;
    border-top: 8px solid #ae4b5d;
}

main{
    background: #e1e7e7;
}

.footer_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 29px 15px 27px 9px;
}

.footer_header{
    font-size: 1.2rem;
    color: #a5adb8;
    padding-bottom: 7px;
    margin-bottom: 13px;
    border-bottom: 1px solid #191c20;
    -webkit-box-shadow: 0 1px 0 0 #3f464f;
    box-shadow: 0 1px 0 0 #3f464f;
}

.ml11{
    margin-left: -11px;
}

.footer_list{
    font-size: 0.8rem;
    color: #85898f;
}

div.footer_list > p{
    margin-bottom: 15px;
}
.footer_list-item{
    margin-bottom: 12px;
}

.red{
    color: #ae4b5d;

}

.underline{
    text-decoration: underline;
}

.fs15{
    font-size: 1rem;
}

li.footer_list-item > a{
    text-decoration: none;
    color: #85898f;
    font-size: 0.8rem;
}

.tdn{
    text-decoration: none;
}

.flet1{
    color: #ae4b5d;
}

i{
    font-size: 1rem;
    color: #ae4b5d;
    margin-right: 10px;
}

.call_us, .call_us>a{
    font-size: 0.93rem;
    color: #a5adb8;
    font-weight: bold;
}


.styled{
    list-style: initial;
}


.contact_button{
    display: none;
    position: fixed;
    right:0;
    top:90vh;
    z-index: 4;
}

.contact_button-link{
    display: block;
    text-align: center;
    max-width: 40%;
    text-decoration: none;
    border-radius: 50%;
    padding: 20px;
    background: #95161f;
    color: #FFFFFF;
    z-index: 4;

}





@media screen and (max-width: 768px) {

    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .slider_content{
        background-position-x: 25%;
    }

    .search{
        display: none;
    }


    .menu_content.active{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        width: 30%;
    }

    .nav_list{
        display: none;
    }

    .main_content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .sidebar{
        display: none;
    }

    .col-md-6{
        max-width: 50%;
    }

    .col-md-12{
        max-width: 100%;
    }

    .card_block{
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .aside{
        padding-top: 0;
    }

    .more_about{
        padding-top: 0;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .list{
        margin-right: 0;

    }

    .list_header{
        font-size: 1.2rem;
        color: #5c646e;
        font-weight: 900;
    }
    .list_block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer_content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer_card{
        margin-bottom: 20px;
    }

    .contact_button{
        display: block;
    }

    .sidebar.active{
        z-index: 3;
        display: block;
        height: 100vh;
        width: 97vw;
        position: fixed;
        top:0;
        left:0;
    }

}

@media screen and (max-width: 425px) {

    .col-s-9{
        max-width: 75%;
    }
}

@media screen and (max-width: 375px) {
    body{
        font-size: 12px;
    }
    td, th {
        border: solid 1px white;
        padding: 3px 3px;
    }
    .menu_content.active {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
}











